*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-grey {
    color: grey;
}

#text-blue {
    color: aquamarine;
}

.lightpink{
    color: lightpink;
}

body {
    background-color: lightpink;
}